.card{
    background-color: #f1faee;
    color: #219ebc;
}
.flex-column
{
    
    background-color:#f1faee ;
    border-radius: 5px;
  
}

.tab-pane
{
    background-color:#f1faee;
    border-radius: 3px;
}

#amount
{
    color: tomato;
}
.box
{
    border: 1px solid black;
    padding: 1px 2px;
    border-radius: 3px;
    background-color: #f1faee;
    
}
.nav-link{
    font-style: italic;
    border-radius: 3px;
}


                                                                                /* for very-small devices*/
@media screen and (min-width:315px)
{
    .flex-column{
        height: 540px;
        width: 130px;
    }
   .nav-link{
       width: 82px;
       height: 135px;
      
   }
   .tab-pane{
       height: 540px;
       padding-left: 8px;
       padding-right: 5px;
       margin-left: -12px;
       padding-top: 2px;
   }
   .card
    {
        font-size: 10px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
    #creditcardno
{
    margin-left:0px;
}
#debitcardno
{
    margin-left:0px;
}
   #yeardropdownButton
   {
       margin-left: 10px;
   }
   .form-control
{
    font-size: 10px;
   
}
#img2
{
   
    margin-left: 2px;
    width:65px;
    height: 30px;
}
.dropdown-menu
{
    font-size: 10px;
}
.dropdown-toggle
{
    font-size: 10px;
}
#amount
{
    padding-top: 2px;
    margin-left: 15px;
}
#amttxt
{
    margin-left: 15px;
}
#makepaymentbtn
{
    margin-left: 15px;
}

}

@media screen and (min-width:340px) {
    .flex-column
 {
    height: 540px;
  }
.nav-link
 {
    width: 100px;
 }
.tab-pane
 {
    padding: 5px;
 }
 #yeardropdownButton
 {
  margin-left: 25px;
 }

.dropdown-menu
{
    font-size: 10px;
    width: 10px;
}
#img2
{
    margin-left: 2px;
}  
.form-control
{
    font-size: 10px;
} 
}



@media screen and (min-width:425px){
    .nav-link{
        width: 100px;
    }
    .tab-pane
    {
        padding-right: 8px;
        padding-left: 10px;
    }
   
    #yeardropdownButton
    {
        margin-left: 25px;
    
    }
    .card{
        font-size: 12px;
    }
    #img2
    {
        margin-left: 0px;
    }
    .form-control
    {
        font-size: 12px;
        
    }

}


                                                                                        /*SmallDevice*/
@media screen and (min-width:576px) {
    .card{
        font-size: 12px;
    }
    .form-control
    {
        font-size: 12px;
    }
    #yeardropdownButton
    {
        margin-left: 10px;
    
    }
    #img2
    {
        height: 30px;
        margin-left:-15px;
    }
    .nav-link
    {
        width: 125px;
    }
    #creditcardno
{
    margin-left:-7px;
}
#debitcardno
{
    margin-left:-7px;
}

  
}


                                                                                /* for Medium devices*/


@media screen and (min-width:768px) {
    .flex-column
{
   width: auto;
    height: 500px;
}
.tab-pane
{
    height: 500px;
}
.nav-link
{

    width: 150px;
    height: 125px;
    
}

    #img2
    {
        margin-left: -25px;
    }

 #yeardropdownButton
{
    margin-left: 25px;

}
.dropdown-menu
{
    font-size: 10px;
}

.box{
    margin: 5px;
}

   
}

                                                                                    /* for Large devices*/
@media screen and (min-width:992px)
{
    .flex-column
    {
        height: 552px;
        width: auto;
    }
    .tab-pane{
        height: 552px;
        padding-left: 20px;
        padding-top: 5px;
    }
    .nav-link
{

    width: 130px;
    height: 138px;
   
}
#creditcardno
{
    margin-left:-5px;
}
#debitcardno
{
    margin-left:-5px;
}

    .card{
        font-size: 14px;
    }
    .form-control
{
    font-size: 14px;
    
}
.dropdown-menu
{
    font-size: 12px;
    
}
.dropdown-toggle
{
    font-size:13px;
}
#yeardropdownButton
{
    margin-left: 35px;

}
#img2
{
    margin-left: 10px;
}

}

